[submodule "presentations/na_cool_paper"]
	path = presentations/na_cool_paper
	url = git://github.com/nacs-lab/na_cool_paper
[submodule "presentations/molecular_raman_paper"]
	path = presentations/molecular_raman_paper
	url = git://github.com/yuyichao/molecular_raman_paper
[submodule "presentations/thesis"]
	path = presentations/thesis
	url = git://github.com/yuyichao/grad-thesis
